/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/roboto-v20-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  overflow-x: hidden;
}
header {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 20;
  background: transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content {
  padding-top: 50px;
  padding-left: 135px;
  padding-right: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-content .logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  color: #F9F9F9;
}
header .header-content .header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}
header .header-content .header-menu .menu-item {
  min-width: 170px;
  margin-right: 25px;
  text-align: center;
}
header .header-content .header-menu .menu-item a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  text-align: center;
  color: #F9F9F9;
}
header .header-content .header-menu .menu-item a:hover {
  text-decoration: underline;
}
header .header-content .header-phone {
  padding-top: 10px;
}
header .header-content .header-phone a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #F9F9F9;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
header .header-content .header-phone a:hover {
  border-bottom: none;
}
.scroll-header {
  background: silver;
}
.scroll-header .header-content {
  padding-top: 25px !important;
}
.burger {
  display: none;
}
@media (max-width: 1600px) {
  header .header-content {
    max-width: 1200px;
    padding-left: 37px;
  }
  header .header-content .header-menu {
    padding-left: 30px;
  }
  header .header-content .header-menu .menu-item {
    margin-right: 33px;
    min-width: 120px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
  header .header-content .header-phone {
    min-width: 150px;
  }
  header .header-content .header-phone a {
    font-size: 16px;
    line-height: 21px;
  }
}
@media (max-width: 769px) {
  header {
    height: 80px;
  }
  header .header-phone,
  header .header-menu {
    display: none !important;
  }
  header .header-content {
    max-width: 100%;
    padding-top: 25px;
    padding-right: 100px;
  }
  header .burger {
    display: block !important;
    position: absolute;
    top: 35px;
    right: 25px;
  }
}
@media (max-width: 1199px) {
  .menu-item {
    min-width: 86px !important;
  }
  .menu-item a {
    font-size: 18px !important;
    line-height: 20px !important;
  }
}
.banner {
  height: 690px;
  width: 100%;
  background: url(../img/temporary.png) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .main-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 801px;
  margin: 0 auto;
}
.banner .main-title h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  width: 803px;
  color: #F9F9F9;
  min-height: 108px;
}
.banner .main-title .title-btn {
  margin: 0 auto;
  margin-top: 98px;
  padding: 0 47px 0 47px;
  border: none;
  outline: none;
  width: auto;
  max-width: 195px;
  height: 53.31px;
  background: transparent;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #F9F9F9;
  border: 1px #f9f9f9 solid;
}
.banner .main-title .title-btn:hover {
  background: #F9F9F9;
  color: #0E577B;
}
@media (max-width: 769px) {
  .banner .main-title {
    max-width: 280px;
  }
  .banner .main-title h1 {
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #F9F9F9;
  }
  .banner .main-title .title-btn {
    margin-top: 61px;
  }
}
.offers {
  padding-top: 90px;
  max-width: 874px;
  margin: 0 auto;
}
.offers .offer-title {
  width: 874px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #5C5D58;
  margin-bottom: 50px;
}
.offers .offer-title a {
  text-decoration: none;
  color: #1C569B;
}
.offers .offer-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #5C5D58;
  max-width: 564px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.offers .offer-btn {
  margin: 0 auto;
  border: 1px solid #1C569B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* text blue */
  color: #0E577B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px 15px 30px;
  background: transparent;
}
.offers .offer-btn:hover {
  background: #0e577b;
  color: #F9F9F9;
}
@media (max-width: 769px) {
  .offers {
    max-width: 300px;
    padding-top: 50px;
  }
  .offers .offer-title {
    width: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #5C5D58;
    margin-bottom: 20px;
  }
  .offers .offer-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5C5D58;
    max-width: 280px;
  }
  .offers .offer-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* text blue */
    color: #0E577B;
    padding: 11px 26px 10px 26px;
  }
}
.why {
  padding-top: 80px;
}
.why .why-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #5C5D58;
}
@media (max-width: 769px) {
  .why .why-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #5C5D58;
    max-width: 210px;
    margin: 0 auto;
    margin-bottom: 26px;
  }
  .why .counter {
    height: auto;
    padding-bottom: 35px;
  }
  .why .counter .counter-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why .counter .counter-wrapper .counter-item {
    margin-right: unset !important;
  }
}
.counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background: url(../img/counter-bg.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 274px;
}
.counter .counter-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-radial-gradient(0% 42.76%, 100% 438.39%, #1E5399 0%, #177FC7 47.92%, #1E5399 98.44%);
  background: radial-gradient(100% 438.39% at 0% 42.76%, #1E5399 0%, #177FC7 47.92%, #1E5399 98.44%);
  mix-blend-mode: normal;
  opacity: 0.9;
}
.counter .counter-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1250px;
  margin: 0 auto;
  z-index: 1;
  padding-top: 47px;
}
.counter .counter-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-right: 187px;
  max-width: 200px;
  min-width: 191px;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.counter .counter-item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #F9F9F9;
  margin-bottom: unset;
}
.counter .counter-item .count {
  margin-top: 31px;
  margin-bottom: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #F9F9F9;
}
.counter .counter-item:nth-child(5n) {
  margin-right: unset;
}
@media (max-width: 1500px) {
  .counter-wrapper {
    max-width: 1200px !important;
  }
  .counter-item {
    margin-right: 30px !important;
  }
}
.our {
  padding-top: 80px;
}
.our .our-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #5C5D58;
  text-align: center;
}
.our .our-title img {
  margin-top: 26px;
}
.our .our-subtitle {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 79px;
  max-width: 601px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #5C5D58;
}
.our .client-items {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: calc(354px * 3 + 60px);
  margin: 0 auto;
}
.our .client-items .client-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 354px;
  height: 223px;
  background: #FFFFFF;
  border: 1px solid #1C569B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
}
.our .client-items .client-item:nth-child(3n+3) {
  margin-right: unset;
}
.our .client-items .client-item .item-pic {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 769px) {
  .our {
    padding-top: 34px;
    max-width: 300px;
    margin: 0 auto;
  }
  .our-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px !important;
    line-height: 27px !important;
    /* identical to box height */
    color: #5C5D58;
  }
  .our-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: center;
    color: #5C5D58;
  }
  .client-items {
    padding-bottom: 35px !important;
  }
  .client-items .client-item {
    width: 280px !important;
    height: 176px !important;
    margin-right: unset !important;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
  }
  .client-items .client-item img {
    width: 237px;
  }
}
.about {
  height: 917px;
  width: 100%;
  background: url(../img/about-bg.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.about .about-text {
  padding-top: 50px;
  max-width: 540px;
  margin-left: 21%;
}
.about .about-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #F9F9F9;
}
@media (max-width: 1500px) {
  .about .about-text p {
    font-size: 18px;
    line-height: 20px;
  }
}
.about .about-slider {
  height: 620px;
  width: 475px;
  padding-top: 50px;
  margin-left: 100px;
}
.about .about-slider .swiper-wrapper {
  height: 650px;
}
.about .about-slider .swiper-pagination-bullets {
  bottom: 37px;
  left: 0;
  width: 100%;
  text-align: left;
}
.about .about-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: unset;
}
.about .about-slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #256DA7;
}
.about .about-slider .slider {
  background: transparent;
  height: 565px;
  width: 475px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-slider .slider img {
  width: 100%;
  height: 100%;
}
@media (max-width: 769px) {
  .about {
    height: auto;
    max-height: 815px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-text {
    padding-top: 27px;
    margin-left: unset;
    margin: 0 auto;
    max-width: 280px;
  }
  .about .about-text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F9F9F9;
  }
  .about .about-slider {
    margin: 0 auto;
    height: auto;
    max-width: 280px;
  }
  .about .about-slider .swiper-wrapper {
    height: 360px;
  }
  .about .about-slider .swiper-wrapper .slider {
    max-width: 280px;
    height: auto;
    max-height: 337px;
  }
  .about .about-slider .swiper-pagination-bullets {
    bottom: 0;
  }
  .about .about-slider .swiper-pagination-bullets .swiper-pagination-bullet {
    background: gray;
  }
}
.principles {
  padding-top: 20px;
}
.principles .princip-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #5C5D58;
}
.principles .princip-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  color: #5C5D58;
}
.principles .princip-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1210px;
  margin: 0 auto;
  margin-top: 57px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principles .princip-items .princip-item {
  width: 350px;
  height: 223px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #10A2CB;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.principles .princip-items .princip-item:nth-child(3n+3) {
  margin-right: unset;
}
.principles .princip-items .princip-item:nth-child(2n+2) {
  background: #1C569B;
}
.principles .princip-items .princip-item .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.principles .princip-items .princip-item .box p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #F9F9F9;
  margin-top: 23px;
}
@media (max-width: 769px) {
  .principles {
    padding-top: 355px;
  }
  .principles .princip-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    max-width: 280px;
  }
  .principles .princip-items .princip-item {
    width: 280px;
    height: 179px;
    margin-bottom: 18px;
  }
  .principles .princip-items .princip-item .box p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
    color: #F9F9F9;
  }
}
.line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 21px;
}
.services {
  padding-top: 45px;
}
.services .services-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #5C5D58;
}
.services .services-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 144.4%;
  /* identical to box height, or 32px */
  text-align: center;
  color: #5C5D58;
}
.services .service-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 790px;
  margin: 0 auto;
  margin-top: 54px;
}
.services .service-items .service-item {
  width: 380px;
  height: 526px;
  padding: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.services .service-items .service-item .item-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1C569B;
  margin-bottom: 27px;
}
.services .service-items .service-item .item-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #5C5D58;
}
.services .service-items .service-item:nth-child(2n+2) {
  margin-right: unset;
}
@media (max-width: 769px) {
  .services {
    max-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
  }
  .services .services-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #5C5D58;
  }
  .services .services-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 144.4%;
    /* or 23px */
    text-align: center;
    color: #5C5D58;
  }
  .services .service-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    max-width: 280px;
    margin-top: 21px;
  }
  .services .service-items .service-item {
    max-width: 300px;
    height: auto;
    padding: 10px;
    border: none;
  }
  .services .service-items .service-item .item-pic img {
    width: 280px;
  }
  .services .service-items .service-item .item-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1C569B;
    margin-bottom: 14px;
  }
  .services .service-items .service-item .item-descr {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #5C5D58;
  }
}
.ideas {
  padding-top: 45px;
}
.ideas .idea-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #5C5D58;
}
.ideas .idea-subtitle {
  max-width: 508px;
  margin: 0 auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #5C5D58;
}
.ideas .idea-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding: 0 30px 0 30px;
  margin-top: 61px;
}
.ideas .idea-items .idea-item {
  min-height: 280px;
  width: 31.3%;
  height: 100%;
  margin-right: 28px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ideas .idea-items .idea-item .step {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #F9F9F9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: unset;
}
.ideas .idea-items .idea-item .substep {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F9F9F9;
  margin-top: 32px;
  margin-bottom: auto;
}
.ideas .idea-items .idea-item:nth-child(3n+3) {
  margin-right: unset;
}
.ideas .idea-items .first-step {
  background: url(../img/step1.jpg) no-repeat center;
  background-size: cover;
}
.ideas .idea-items .second-step {
  background: url(../img/step2.jpg) no-repeat center;
  background-size: cover;
}
.ideas .idea-items .third-step {
  background: url(../img/step3.jpg) no-repeat center;
  background-size: cover;
}
@media (max-width: 1251px) {
  .ideas .idea-items {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 61px;
  }
  .ideas .idea-items .idea-item {
    margin-right: unset;
    max-width: 600px;
    width: 100%;
  }
}
@media (max-width: 769px) {
  .ideas {
    padding-top: unset;
  }
  .ideas .idea-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #5C5D58;
  }
  .ideas .idea-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5C5D58;
    max-width: 280px;
  }
  .ideas .idea-items {
    max-width: 300px;
    margin-top: 21px;
  }
  .ideas .idea-items .idea-item {
    min-height: unset;
    height: 131px;
  }
  .ideas .idea-items .idea-item .step {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #F9F9F9;
  }
  .ideas .idea-items .idea-item .substep {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #F9F9F9;
    margin-top: 19px;
  }
}
.projects {
  margin-top: 75px;
}
.projects .project-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #5C5D58;
  text-align: center;
}
.projects .line {
  margin-top: 12px;
  margin-bottom: 53px;
}
.projects .tab-slider {
  /* ---- isotope ---- */
}
.projects .tab-slider .button-group {
  margin-top: 22px;
  margin-bottom: 30px;
  text-align: center;
}
.projects .tab-slider .button {
  width: auto;
  min-width: 170px;
  height: 53px;
  margin-right: 30px;
  border: 2px solid #1C569B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  background: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #1C569B;
}
.projects .tab-slider .button:nth-child(4n+4) {
  margin-right: unset;
}
.projects .tab-slider .button:hover {
  background-color: #1C569B;
  color: #f9f9f9;
}
.projects .tab-slider .button:active,
.projects .tab-slider .button.is-checked {
  background-color: #1C569B;
}
.projects .tab-slider .button.is-checked {
  color: #f9f9f9;
}
.projects .tab-slider .button:active {
  -webkit-box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
          box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}
.projects .grid-container {
  margin-bottom: 30px;
  max-width: 1260px;
}
.projects .grid-container .swiper-wrapper {
  padding-bottom: 60px;
  position: relative;
}
.projects .grid-container .navigation-element {
  position: absolute;
  top: 45%;
  z-index: 10;
  cursor: pointer;
}
.projects .grid-container .navigation-element:hover path {
  fill: #1C569B;
}
.projects .grid-container .prev {
  left: 0;
}
.projects .grid-container .next {
  right: 0;
}
.projects .grid-container .slider {
  padding-top: 30px;
  background: transparent;
  height: 100%;
  width: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .grid-container .slider .item-subtitle {
  max-width: 350px;
  margin-top: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  /* text blue */
  color: #0E577B;
}
@media (max-width: 769px) {
  .projects {
    margin-top: 34px;
  }
  .projects .project-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #5C5D58;
  }
  .projects .tab-slider .button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 300px;
  }
  .projects .tab-slider .button-group .button {
    min-width: unset;
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-align: center;
    color: #5C5D58;
    border: none;
    margin-right: 8px;
  }
  .projects .tab-slider .button-group .button:active,
  .projects .tab-slider .button-group .button.is-checked {
    background: transparent;
    color: #1C569B;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .projects .tab-slider .button-group .button:hover {
    background-color: transparent;
    text-shadow: none;
    color: #1c569b;
  }
}
footer {
  background: url(../img/footer-bg.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-content {
  padding-top: 35px;
  max-width: 1250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}
footer .footer-content .contact-block .line {
  margin-left: unset;
}
footer .footer-content .contact-block .contact-title {
  margin-bottom: 9px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #F9F9F9;
}
footer .footer-content .contact-block .contacts {
  margin-bottom: 35px;
}
footer .footer-content .contact-block .contacts .contact-item {
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #F9F9F9;
}
footer .footer-content .contact-block .contacts .contact-item strong {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #F9F9F9;
}
footer .footer-content .contact-block .social-links a {
  margin-right: 15px;
  text-decoration: none;
}
footer .footer-content .contact-block .social-links a:hover svg circle {
  stroke: transparent;
}
footer .footer-content .footer-menu {
  margin-left: 187px;
  padding-top: 86px;
}
footer .footer-content .footer-menu .fmenu-item {
  margin-bottom: 17px;
}
footer .footer-content .footer-menu .fmenu-item a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #F9F9F9;
  text-decoration: none;
}
footer .footer-content .footer-menu .fmenu-item a:hover {
  text-decoration: underline;
}
footer .footer-content .contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  padding-top: 86px;
  padding-right: 66px;
}
footer .footer-content .contact-form input {
  background: transparent;
  border: 1px solid #F9F9F9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  height: auto;
  max-width: 433px;
  width: 100%;
  margin-left: auto;
  margin-bottom: 9px;
  padding: 11px 0px 15px 21px;
}
footer .footer-content .contact-form input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F9F9F9;
}
footer .footer-content .contact-form input::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F9F9F9;
}
footer .footer-content .contact-form input:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F9F9F9;
}
footer .footer-content .contact-form input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F9F9F9;
}
footer .footer-content .contact-form input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F9F9F9;
}
footer .footer-content .contact-form #comment {
  height: 115px;
}
footer .footer-content .contact-form .policy {
  max-width: 433px;
  margin-top: 10px;
  margin-bottom: 15px;
}
footer .footer-content .contact-form .policy a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer-content .contact-form button {
  max-width: 195px;
  background: transparent;
  border: 1px solid #F9F9F9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #F9F9F9;
  padding: 15px 47px 15px 47px;
}
footer .footer-content .contact-form button:hover {
  background: #F9F9F9;
  color: #1c569b;
}
footer .copyright {
  max-width: 1250px;
  margin: 0 auto;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F9F9F9;
  margin-top: -46px;
  padding-bottom: 46px;
}
@media (max-width: 1300px) {
  footer .footer-content {
    max-width: 1100px;
  }
  footer .copyright {
    max-width: 1100px;
  }
}
@media (max-width: 769px) {
  footer .footer-content {
    max-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-content .contact-block .contact-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #F9F9F9;
  }
  footer .footer-content .contact-block .line {
    margin: unset;
    margin-top: 10px;
    margin-bottom: 21px;
  }
  footer .footer-content .contact-block .contacts .contact-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F9F9F9;
  }
  footer .footer-content .contact-block .contacts .contact-item strong {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #F9F9F9;
  }
  footer .footer-content .footer-menu {
    margin-left: unset;
    padding-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 280px;
  }
  footer .footer-content .footer-menu .fmenu-item {
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid rgba(249, 249, 249, 0.7);
  }
  footer .footer-content .footer-menu .fmenu-item a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F9F9F9;
  }
  footer .footer-content .footer-menu .fmenu-item:first-child {
    padding-left: unset;
  }
  footer .footer-content .footer-menu .fmenu-item:nth-child(4n+4) {
    padding-left: unset;
  }
  footer .footer-content .footer-menu .fmenu-item:nth-child(3n+3) {
    border: none;
  }
  footer .footer-content .contact-form {
    padding-top: 25px;
    padding-right: unset;
    max-width: 300px;
  }
  footer .copyright {
    max-width: 300px;
    padding-top: 60px;
  }
}
.hidden-filter {
  display: none !important;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.visible-filter {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.burger-menu {
  display: none;
}
@media (max-width: 769px) {
  .burger-menu {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }
  .burger-menu .xclose {
    position: absolute;
    top: 26px;
    right: 20px;
  }
  .burger-menu .burger-logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    color: #5C5D58;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  .burger-menu .burger-block {
    width: 100%;
    padding-top: 75px;
    padding-left: 25px;
    border-bottom: 1px solid #5C5D58;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 25px;
  }
  .burger-menu .burger-block .burger-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5C5D58;
    margin-bottom: 13px;
    text-decoration: none;
  }
  .burger-menu .burger-block .burger-item:hover {
    text-decoration: underline;
  }
  .burger-menu .burger-phone {
    margin-top: 20px;
    margin-left: 17px;
  }
  .burger-menu .burger-phone a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #5C5D58;
    text-decoration: none;
  }
  .burger-menu .burger-phone a:hover {
    text-decoration: underline;
  }
}
