/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/roboto-v20-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  overflow-x: hidden;
}
header {
  height: 100px;
  width: 100%;
  position: fixed;
  background: transparent;
}
header .header-content {
  padding-top: 50px;
  padding-left: 135px;
  padding-right: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-content .logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  color: #F9F9F9;
}
header .header-content .header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-left: 180px;
}
header .header-content .header-menu .menu-item {
  margin-right: 95px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  color: #F9F9F9;
}
header .header-content .header-phone {
  padding-top: 10px;
}
header .header-content .header-phone a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #F9F9F9;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
.banner {
  height: 690px;
  width: 100%;
  background: url(../img/temporary.png) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .main-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 801px;
  margin: 0 auto;
}
.banner .main-title h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #F9F9F9;
}
.banner .main-title .title-btn {
  margin: 0 auto;
  margin-top: 98px;
  padding: 0 47px 0 47px;
  border: none;
  outline: none;
  width: auto;
  max-width: 195px;
  height: 53.31px;
  background: #F9F9F9;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #0E577B;
}
.offers {
  padding-top: 90px;
  max-width: 874px;
  margin: 0 auto;
}
.offers .offer-title {
  width: 874px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #5C5D58;
  margin-bottom: 50px;
}
.offers .offer-title a {
  text-decoration: none;
  color: #1C569B;
}
.offers .offer-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #5C5D58;
  max-width: 564px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.offers .offer-btn {
  margin: 0 auto;
  border: 1px solid #1C569B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* text blue */
  color: #0E577B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px 15px 30px;
  background: transparent;
}
.why {
  padding-top: 80px;
}
.why .why-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #5C5D58;
}
.counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url(../img/counter-bg.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 274px;
}
.counter .counter-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-radial-gradient(0% 42.76%, 100% 438.39%, #1E5399 0%, #177FC7 47.92%, #1E5399 98.44%);
  background: radial-gradient(100% 438.39% at 0% 42.76%, #1E5399 0%, #177FC7 47.92%, #1E5399 98.44%);
  mix-blend-mode: normal;
  opacity: 0.9;
}
.our {
  padding-top: 80px;
}
.our .our-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #5C5D58;
  text-align: center;
}
.our .our-title img {
  margin-top: 26px;
}
.our .our-subtitle {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 79px;
  max-width: 601px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #5C5D58;
}
.our .client-items {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: calc(354px * 3 + 60px);
  margin: 0 auto;
}
.our .client-items .client-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 354px;
  height: 223px;
  background: #FFFFFF;
  border: 1px solid #1C569B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
}
.our .client-items .client-item:nth-child(3n+3) {
  margin-right: unset;
}
.our .client-items .client-item .item-pic {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}
.about {
  height: 917px;
  width: 100%;
  background: url(../img/about-bg.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.about .about-text {
  padding-top: 50px;
  max-width: 540px;
  margin-left: 21%;
}
.about .about-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #F9F9F9;
}
.about .about-slider {
  height: 620px;
  width: 475px;
  padding-top: 50px;
  margin-left: 100px;
}
.about .about-slider .swiper-wrapper {
  height: 650px;
}
.about .about-slider .swiper-pagination-bullets {
  bottom: 37px;
  left: 0;
  width: 100%;
  text-align: left;
}
.about .about-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: unset;
}
.about .about-slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #256DA7;
}
.about .about-slider .slider {
  background: transparent;
  height: 565px;
  width: 475px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-slider .slider img {
  width: 100%;
  height: 100%;
}
.principles {
  padding-top: 20px;
}
.principles .princip-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #5C5D58;
}
.principles .princip-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  color: #5C5D58;
}
.principles .princip-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1210px;
  margin: 0 auto;
  margin-top: 57px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principles .princip-items .princip-item {
  width: 350px;
  height: 223px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #10A2CB;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.principles .princip-items .princip-item:nth-child(3n+3) {
  margin-right: unset;
}
.principles .princip-items .princip-item:nth-child(2n+2) {
  background: #1C569B;
}
.principles .princip-items .princip-item .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.principles .princip-items .princip-item .box p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #F9F9F9;
  margin-top: 23px;
}
.line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 21px;
}
.services {
  padding-top: 45px;
}
.services .services-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #5C5D58;
}
.services .services-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 144.4%;
  /* identical to box height, or 32px */
  text-align: center;
  color: #5C5D58;
}
.services .service-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 790px;
  margin: 0 auto;
  margin-top: 54px;
}
.services .service-items .service-item {
  width: 380px;
  height: 526px;
  padding: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.services .service-items .service-item .item-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1C569B;
  margin-bottom: 27px;
}
.services .service-items .service-item .item-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #5C5D58;
}
.services .service-items .service-item:nth-child(2n+2) {
  margin-right: unset;
}
.ideas {
  padding-top: 45px;
}
.ideas .idea-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #5C5D58;
}
.ideas .idea-subtitle {
  max-width: 508px;
  margin: 0 auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #5C5D58;
}
.ideas .idea-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding: 0 30px 0 30px;
  margin-top: 61px;
}
.ideas .idea-items .idea-item {
  max-width: 600px;
  min-height: 280px;
  width: 100%;
  height: 100%;
  margin-right: 28px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ideas .idea-items .idea-item .step {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #F9F9F9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: unset;
}
.ideas .idea-items .idea-item .substep {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F9F9F9;
  margin-top: 32px;
  margin-bottom: auto;
}
.ideas .idea-items .idea-item:nth-child(3n+3) {
  margin-right: unset;
}
.ideas .idea-items .first-step {
  background: url(../img/step1.jpg) no-repeat center;
  background-size: cover;
}
.ideas .idea-items .second-step {
  background: url(../img/step2.jpg) no-repeat center;
  background-size: cover;
}
.ideas .idea-items .third-step {
  background: url(../img/step3.jpg) no-repeat center;
  background-size: cover;
}
.projects {
  margin-top: 75px;
}
.projects .project-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #5C5D58;
  text-align: center;
}
.projects .tab-slider {
  /* ---- isotope ---- */
}
.projects .tab-slider .button-group {
  margin-top: 22px;
  text-align: center;
}
.projects .tab-slider .button {
  width: auto;
  min-width: 170px;
  height: 53px;
  margin-right: 30px;
  border: 2px solid #1C569B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  background: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #1C569B;
}
.projects .tab-slider .button:nth-child(4n+4) {
  margin-right: unset;
}
.projects .tab-slider .button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}
.projects .tab-slider .button:active,
.projects .tab-slider .button.is-checked {
  background-color: #1C569B;
}
.projects .tab-slider .button.is-checked {
  color: white;
}
.projects .tab-slider .button:active {
  -webkit-box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
          box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}
.projects .swiper-container {
  max-width: 1260px;
  margin: 0 auto;
  min-height: 400px;
}
.projects .swiper-container .swiper-wrapper {
  min-height: 400px;
}
.projects .swiper-container .swiper-wrapper .swiper-pagination-bullets {
  bottom: 37px;
  left: 0;
  width: 100%;
  text-align: left;
}
.projects .swiper-container .swiper-wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: unset;
}
.projects .swiper-container .swiper-wrapper .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #256DA7;
}
.projects .grid {
  margin-top: 60px;
}
.projects .grid .grid-item {
  width: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects .grid .grid-item:nth-child(3n+3) {
  margin-right: unset;
}
.projects .grid .grid-item .item-subtitle {
  margin-top: 15px;
  max-width: 350px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  /* text blue */
  color: #0E577B;
}
footer {
  background: url(../img/footer-bg.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
}
footer .footer-content {
  padding-top: 35px;
  max-width: 1250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}
footer .footer-content .contact-block .contact-title {
  margin-bottom: 9px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #F9F9F9;
}
footer .footer-content .contact-block .contacts {
  margin-bottom: 35px;
}
footer .footer-content .contact-block .contacts .contact-item {
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #F9F9F9;
}
footer .footer-content .contact-block .contacts .contact-item strong {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #F9F9F9;
}
footer .footer-content .contact-block .social-links a {
  margin-right: 15px;
}
